In [2]:
''' what is list ?
-- A list is a Built in data type which stores set of values.
--it can stores elemnet of different types (integer,float,string,etc)
'''

' what is list ?\n-- A list is a Built in data type which stores set of values.\n--it can stores elemnet of different types (integer,float,string,etc)\n'

In [6]:
# mark1=94   # here mark is variable and some value is stored in it.
# mark2=92
# mark3=90
# mark4=88
# mark5=90

marks=[94,92,90,88,90]  #taking the same thing but in list means storing value in only 1 variable=marks
print(marks)
print(len(marks))    #len means lenth of marks= values stored in it thatis 5
print(type(marks))
print(marks[0])     #0=94 1=92...

[94, 92, 90, 88, 90]
5
<class 'list'>
94

In [8]:
'''we can also assign different type in a single variable
foe example '''
student=['Devanshu',90,'gujarat']  # devanshu is string and 90 is in integer we can also take float value.
print(student)

['Devanshu', 90, 'gujarat']

In [20]:
# ''' MOST IMP--STRNGS ARE IMMUTABLE & LIST IS MUTABLE
# MUTABLE MEANS THAT CAN CHANGE
# IMMUTABLE MENAS THAT CANNOT CHANGE 
# EXAMPLES:'''

str=("DEVANSHU")
print(str)
#but
str[0]="RAHUL"   # this is not allowed in string..

DEVANSHU

TypeError: 'str' object does not support item assignment

In [13]:
# IT IS ALLOWED IN LIST
# examples:

student=['Devanshu',90,'gujarat']
student[0]="rahul"
print(student[0])   # We can change the string in list
print(student)

rahul
['rahul', 90, 'gujarat']

In [19]:
# LIST SLICING--follow the same rule as string slicing.
list=[87,90,87,99,89,78,87]
print(list[1:4])
print(list[:4])   # default =0.
print(list[2:])   # default =till end.
print(list[-4:-2])  # if -value then it will be reversed means 87=-1,78=-2...
print(list[:-1])

[90, 87, 99]
[87, 90, 87, 99]
[87, 99, 89, 78, 87]
[99, 89]
[87, 90, 87, 99, 89, 78]