In [1]:
#string formates
a=("my name is devanshu")
b=("i am 22")
print(a+b)

my name is devanshui am 22

In [6]:
#string formates
a=("my name is devanshu")
b=("i am 22")
print(a+" "+b) #here "(space)"is mandatory to keep space between two individual string

my name is devanshu i am 22

In [17]:
#string formates
print("my name is devanshu","\n") #"\n" used for new line print
print("i am 22")

my name is devanshu

i am 22

In [20]:
#string formates
print("my name is devanshu",end=" ") #end="(space)" means print in one line
print("i am 22")

my name is devanshu i am 22

In [22]:
#upper case string
name="Hi My Name Is Devanshu"
result=name.upper()  #variable_name.upper() for full string upper case
print(result)

HI MY NAME IS DEVANSHU

In [24]:
#lower case string
name="Hi My Name Is Devanshu"
result=name.lower()  #variable_name.lower() for full string upper case
print(result)

hi my name is devanshu

In [27]:
#reverse string
name="Hi My Name Is Devanshu"
print(result[::-1])

uhsnaved si eman ym ih

In [29]:
#reverse string
name="Hi My Name Is Devanshu"
result=''.join(reversed(name))
print(result)

uhsnaveD sI emaN yM iH

In [8]:
#asascii value
name=input("Enter The value for Which You Want Ascii Value :")   #must define the valuee
print(ord(name)) #perticular ascii value of any one lenth character--(ord(variable_name)) ord-function

Enter The value for Which You Want Ascii Value : 9

57

In [14]:
name=89
print(chr(name))

Y

In [25]:
name="hi my name is devanshu"
result=(name.count("name"))
print(result)

1