In [ ]:
'''LOOP in python
LOOP is used to print number of iteration again and again
Types of loop in python:
a)FOR LOOP
b)WHILE LOOP
'''

In [ ]:
'''FOR LOOP:
FOR LOOP IS EXECUTED WHEN CONDITION IS TRUE
FORMAT:-

FOR (VARIABLE) IN RANGE(FROM,TILL)  #RANGE IS FOR NUMBERS ONLY
    PRINT(VARIABLE)
'''

In [5]:
for a in range(1,100):  #range is for numbers only
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [7]:
for a in range(1,20):   
    print("MY NAME IS KD",a)    #will print it 19 times, if you want to print it 20 times  range(1,21)

MY NAME IS KD 1
MY NAME IS KD 2
MY NAME IS KD 3
MY NAME IS KD 4
MY NAME IS KD 5
MY NAME IS KD 6
MY NAME IS KD 7
MY NAME IS KD 8
MY NAME IS KD 9
MY NAME IS KD 10
MY NAME IS KD 11
MY NAME IS KD 12
MY NAME IS KD 13
MY NAME IS KD 14
MY NAME IS KD 15
MY NAME IS KD 16
MY NAME IS KD 17
MY NAME IS KD 18
MY NAME IS KD 19

In [8]:
for a in range(1,20):   
    print("MY NAME IS KD")

MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD
MY NAME IS KD

In [9]:
for i in range(5):
    print(i)    #till 4 not 5 values will be 5 values

0
1
2
3
4

In [10]:
#We can define all employees in list
employees=['devanshu','dev','jinal','rutu','divya','dhruv','rajesh','minal']
print(employees)

['devanshu', 'dev', 'jinal', 'rutu', 'divya', 'dhruv', 'rajesh', 'minal']

In [11]:
#We can define all employees in list and in loop  print in a perticular format
employees=['devanshu','dev','jinal','rutu','divya','dhruv','rajesh','minal']
for emp in employees:   #emp taken as variable
    print(emp)

devanshu
dev
jinal
rutu
divya
dhruv
rajesh
minal

In [13]:
#write a program to print even numbers between range
for i in range(1,20):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18

In [14]:
#write a program to print odd numbers between range
for i in range(1,20):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [15]:
#write a program to print odd numbers between range
for i in range(1,20):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19